# Python
__pycache__/
*.pyc

# Virtual Environment
venv/
.env/

# Dataset
data/
*.tar.gz
*.7z

# Mac
.DS_Store

# Results
results/
*.pkl
models/*.pkl
*.db

# Node
node_modules/
dist/
build/
.next/
out/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Environment variables
.env*.local
